@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Escoge el tema de tu interes</h1>
    <p>Los temas del foro son </p>
</div>
<br>

<div>
    <section>
        <h1> Tecnologia</h1>
        <p>Aqui podras hablar sobre la tecnologia que te guste<p>
        <img src="tecnologia.jpg" alt="Imagen de tecnologia"/>
    </section>
</div>
<br>
<hr />

<div>
    <section>
    <h1> Deportes</h1>
    <p>Aqui podras hablar sobre cualquier deporte de tu interes</p>
    <img src="deporte.jpg" alt="Imagen de deporte"/>
</section>
</div>
<br>
<hr />

<div>
    <section>
        <h1> Arte</h1>
        <p>En este espacio podras hablar sobre los distintos tipos de arte que existen</p>
        <img src="arte.jpg" alt="Imagen de arte" />
    </section>
</div>
<br>
<hr />

<div>
    <section>
        <h1> Cultura</h1>
        <p>Aqui podras hablar sobre culturas que posiblemente no conozcas</p>
        <img src="culturas.jpg" alt="Imagen de culturas" />
    </section>
</div>
<br>


