@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Escoge el tema de tu interes</h1>
    <p>Los temas presentes en este foro para participar son: Tecnologia, Deportes, Arte y Cultura </p>
    <img src="c:\users\aaron\onedrive\documentos\udla\semestre 5\programacion 4\martinlomas-aaronzumarraga-proyecto\martinlomas-aaronzumarraga-proyecto\views\home\imagenes\tecnologia.jpg" />
</div>
